@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  background-color: #c96e12;
}

body {
  min-height: -webkit-fill-available;
  height: 100%;

  font-size: calc(24px + 0.5vmin);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;

  font-family: "Amatic SC", cursive;
  color: #0a0c0b;
}

main {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
  background-image: linear-gradient(
    to bottom,
    white 10%,
    #fff897 15%,
    #fae96f 25%,
    #f6c101 35%,
    #ec9d00 45%,
    #df8d03 55%,
    #c96e12 100%
  );
}

main > * {
  flex: 0;
  display: block;

  padding: 0.25em;
  text-align: center;
}

main > div.hasnt-payment-only {
  width: 50%;
  align-self: center;
  font-size: 0.5em;
}

footer {
  flex: 0;
  justify-self: flex-end;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: #c96e12;
}

footer > * {
  display: block;

  padding-bottom: 0.5em;
}

footer a {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

footer img {
  height: 3em;
}

footer small {
  font-size: 0.5em;
}

input {
  border: none;
  outline: none;
  font-family: "Amatic SC", cursive;
  font-size: calc(24px + 0.5vmin);
  padding: 0.5em;
  text-align: center;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  display: none;
}

label {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.dev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#my-pic {
  display: block;
  width: 4em;
  height: 4em;
  border-radius: 50% 50%;
  text-align: center;
}

.liquor {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  margin: 0.5em;
  padding: 0.25em 1em;
  background-color: white;
  color: #0a0c0b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.stepper {
  box-sizing: border-box;
  padding: 0.5em;
  background-color: white;
  user-select: none;
  cursor: pointer;
}

.liquor a {
  width: 5rem;
}

.message {
  font-size: 0.75em;
}

@media (max-width: 915px) and (orientation: landscape) {
  main {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  footer img {
    height: 2em;
  }

  #input-wrapper {
    display: flex;
    flex-direction: row;
  }

  .liquor {
    flex-direction: column;
  }
}
